




.menubar > div:first-child form input {
	height: 30px\9;
	padding: 12px 32px 0 10px\9;
}

.menubar > div:first-child form input:focus {
	padding: 12px 42px 0 10px\9;
}

.menubar > div:first-child > div:hover form input {
	padding: 8px 10px 0 10px\9;
	height: 22px\9;
}

.menubar > div:first-child > div:hover form input[type=submit] {
	height: 30px\9;
	padding: 0 10px\9;
}

.bg-overlay {
	visibility: hidden\9;
}
	
.video-wrapper:hover .bg-overlay { background: url(../images/blacktrans-50pc.png)\9; }

.page-actions input[type="text"] {
	height: 22px\9;
	padding: 8px 10px 0 10px\9;
}
